@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('Gilroy-Light.woff') format('woff');
    font-style: light;
    font-weight: 300
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'), url('Gilroy-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'), url('Gilroy-Medium.woff') format('woff');
    font-style: medium;
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'), url('Gilroy-Bold.woff') format('woff');
    font-style: bold;
    font-weight: 700;
}