@import 'settings';
@import 'foundation-emails';

.text-secondary {
  color: $secondary-color;
}
.text-primary {
  color: $primary-color;
}

.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}

p {
  margin-top: 0 !important;
}
div {
  text-align: left !important;
}

.small {
  font-size: 14px;
}

.menu .menu-item {
  padding-right: 7px !important;
  padding-top: 20px !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}



.m-0 {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.px-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

