<div style="font-size: 20px;margin-bottom: 0;" class="text-primary font-medium">Jordan Hunter</div>
<span style="font-size: 17px" class="text-secondary font-light">Creative Director</span>


<table>
  <tbody>
    <tr>
      <th class="small-12" valign="middle" style="padding-right: 15px;">
        <table>
          <tr>
            <th>
              <img src="http://assets.smrtb.com/email/SmartRTB_Logo.png">
            </th>
          </tr>
        </table>
      </th>
      <th valign="middle" style="padding-right: 15px;" class="show-for-large">
        <table>
          <tr>
            <th>
              <img src="http://assets.smrtb.com/email/Divider_Gradient_Bar.png">
            </th>
          </tr>
        </table>
      </th>

      <th class="small-12" valign="middle">
        <table>
          <tr>
            <th align="left">
              <div style="margin-bottom: 3px !important; text-align:left !important">
                <span class="text-primary small font-light">Email: </span>
                <span class="text-secondary small font-light">jordanh@smrtb.com</span>
              </div>
              <div style="display:block; text-align:left !important" class="m-0">
                <span class="text-primary small font-light">Phone: </span>
                <span class="text-secondary small font-light">(918) 850 - 7481</span>
              </div>
            </th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>



<menu style="text-align:left;" class="collapse">
  <item target="_blank" href="https://www.facebook.com/smartrtb/"><img src="http://assets.smrtb.com/email/Facebook_Icon.png"></img></item>
  <item target="_blank" href="https://twitter.com/Smart_RTB"><img src="http://assets.smrtb.com/email/Twitter_Icon.png"></img></item>
  <item target="_blank" href="https://www.linkedin.com/"><img src="http://assets.smrtb.com/email/LinkedIn_Icon.png"></img></item>
</menu>
